/* this is a comment in css */

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.themed {
    color: #295878;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


li {
    float: left;
}

.guess {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

